<?xml version='1.0'?>
<model>
  <name>coast_water</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <description>
    Sea surface with the OpenRobotics Coast Water shader (Apache 2.0, from
    fuel.gazebosim.org/1.0/OpenRobotics/models/Coast%20Water version 3), the wave
    mesh replaced by a plane. Visual only.
  </description>
</model>
